{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h2>  404 Sorry could not find the page!</h2>

    <a href="..">
			<input type="submit" value="Go back">
		</a>

  </div>

{% endblock %}
