{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">

    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-field">{{ form.industry.label(class="label") }} {{ form.industry(class="form-control") }}</div>
      <br>
      <div class="form-field">{{ form.type_of_doc.label(class="label") }} {{ form.type_of_doc(class="form-control") }}</div>
      <br>
      <div class="form-field">{{ form.section.label(class="label") }} {{ form.section(class="form-control") }}</div>
      <br>
      <div class="form-field">{{ form.question.label }} {{ form.question(class="form-control") }}</div>
      <br>
      <div class="form-field">{{ form.how_many.label }} {{ form.how_many }}</div>
      <br>
      {{ form.submit(class="btn btn-info") }}
      <br>
    </form>
  </div>

  <div class="jumbotron">
    {% include 'thankyou.html' %}
  </div>

{% endblock %}
