{% extends "base.html" %}
{% block content %}
  <div class='jumbotron'>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <img src="..." class="rounded mr-2" alt="..."> -->
      <strong class="mr-auto">Contract Bot:</strong>
      <small class="text-muted">11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="toast-body">

      Industry: {{ session['industry'] }}
      <br>
      Type of document: {{ session['type_of_doc'] }}
      <br>
      Section: {{ session['section'] }}
      <br>
      Question: {{ session['question'] }}
      <br>
      Max: {{ session['how_many'] }}

    <ul>
    {% for item in res %}
        <li>{{ item }}</li>

    {% endfor %}
    </ul>

    <h3>Cleaned document: {{ doc}}</h3>

    </div>

    <ul>
      {% for clause in clauses %}
          <li>{{ clause }}</li>
  
      {% endfor %}
    </ul>



</div>

{% endblock %}

