
  <div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <!-- <img src="..." class="rounded mr-2" alt="..."> -->
      <strong class="mr-auto">Contract Bot:</strong>
      <small class="text-muted">11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h5>Top {{ max_res }} results:</h5>

    <p>Similarity measure (a higher measure is more correlated with the user request) and the corresponding word vector:</p>

    <ul>
      {% for clause in clauses %}
          <li> Similarity: {{ clause[1] }} </li>
          <li> Word vector: {{ clause[0] }} </li>

      {% endfor %}
    </ul>

    


</div>


